.main-header {
  height: 400px;
}
.message {
  font-size: 23px;
  font-family: "Proxima Nova ExtraBold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  letter-spacing: 0.6px;
  color: rgb(174, 216, 234);
  text-align: center;
  margin-top: 12px;
  min-height: 34px;
  position: relative;
}
