.searchbar {
  background: hsla(0, 0%, 100%, 0.25);
  border: 1px solid transparent;
  padding: 8px 35px 8px 10px;
  border-radius: 3px;
  width: 100%;
  outline: 0 none;
  opacity: 0.8;
  min-height: 36px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #fff;
  text-shadow: inherit;
  -webkit-text-fill-color: inherit;
}
.searchForm{
    display:flex;
    width: 100%;
}
.searchForm button{
    position: absolute;
    right: 1%;
    top: 22%;
    background: transparent;
    border: none;
    cursor: pointer;
}
.navSearxh-center{
    width: 30%;
    position: relative;
}
.upload-btn{
    min-width: auto;
    margin: auto 20px;
    position: relative;
    justify-content: space-between;
}
.btn{
    text-align: center;
    height: 35px;
    display: inline-block;
    padding: 7px 14px 10px 9px;
    text-transform: none;
    user-select: none;
    touch-action: manipulation;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    display:flex;
    align-items: center;
    position: relative;
    width: auto;
    background-color: #1bb76e;
    box-shadow: 0 6px 10px 0 rgb(27 28 30 / 31%);
    color: #fff;
    white-space: nowrap;
}
.main-navbar{
    display:flex;
    padding:16px;
    width: 100%;
    justify-content: space-between;
}
.navLogo-left{
    display:flex;
    
}
.add-free-btn{
    background: #6432f9;
    box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
    padding: 0 10px 0 9px;
    overflow: hidden;
    margin: auto 0;
    line-height: 35px;
}
.account-right{
    display:flex;
    width: 350px;
    justify-content: space-between;
}
.account-icons{
    display:flex;
    width: 34%;
    justify-content: space-between;
}
.Dropdown-title{
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: right;
    color: #babec4;
    cursor: pointer;
    display:flex;
    align-items: center;
}